<!doctype html>
<html lang="en">
  <head style="height: 100%; width: 100%;">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Cross-modal learning for Fashion Retrieval</title>
  </head>
  <body style="height: 100%; width: 100%; overflow-x: hidden;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #5E6FE5;">
        <a class="navbar-brand" href="#">Cross-modal learning for Fashion Retrieval</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            
          </div>
        </div>
      </nav>

      <div class = "col-12" style="padding-top: 120px; padding-left: 70px; padding-right: 70px;">
        <div class="jumbotron">
          <h1 class="display-4">Query using an image or a text description</h1>
          <p class="lead">If you search using an image, we will retrieve the most similar text descriptions and if you search using a text description, we will retrieve the most similar images</p>
         
        </div>
      </div>
      <div class = 'row' style="padding-left: 45px; padding-right: 45px;">
        <div class = "col-md-6" style="padding-top: 15px; padding-left: 35px; padding-right: 35px; margin-bottom: 60px;">
          <form method="post" enctype="multipart/form-data" >
            <div class="form-group">
              <label for="exampleFormControlFile1">Choose an image from your computer</label>
              <input name="imagequery" type="file" class="form-control-file btn btn-primary" style="background-color: #E9ECEF; border: 1px solid #E9ECEF; width: min-content; color: #6C757D;" name="file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #5E6FE5; border: 1px solid #5E6FE5;" >Search</button>

          </form>
        </div>
        <div class = "col-md-6" style="padding-top: 15px; padding-left: 35px; padding-right: 35px; margin-bottom: 60px;">
          <form method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputEmail1">Enter text query</label>
              <input name="textquery" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="(for e.g. Women's black skirt)">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #5E6FE5; border: 1px solid #5E6FE5;" >Search</button>
          </form>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      
    </script>
  </body>
</html>